.box{
    position: relative;
    width: 1000px;
    height: 50px;
    margin: 150px auto;
    margin-bottom: 0;
    font-size: 12px;
}
.box2{
    position: relative;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    overflow: auto;
}
h3{
    display: inline;
}