/*默认样式的清除*/

body,
ul,
ol,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
    margin: 0;
}

ul,
ol,
input,
button {
    padding: 0;
}

input,
button,
textarea {
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*基础样式重新设置*/

Html {
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "San Francisco", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px 10%;
}

input,
button,
textarea {
    font-size: 12px;
    font-family: "San Francisco", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 表格样式*/
table {
    text-align: left;
}

th {
    width: 200px;
    height: 44px;
    background: #f2f3f4;
    box-shadow: 0px 1px 0px 0px #e5e5e5;
    padding-left: 20px;
}

td {
    max-width: 100px;
    height: 44px;
    background: #ffffff;
    box-shadow: 0px 1px 0px 0px #e5e5e5;
    padding-left: 20px;
    border-top: 1px solid #E5E5E5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:hover td {
    background: #f4f9ff;
}
/* 按钮样式 */
button,input[type="submit"]{
    width: 100px;
    height: 35px;
    background: #409Eff;
    border-radius: 5px;
    color: #fff;
}
button:hover,input[type="submit"]:hover{
    background: #6baef1;
}
/* 输入框样式 */
input[type="text"]{
    height: 30px;
    width: 200px;
    border:1px solid #eee;
    border-radius: 5px;
}
/* 多选框样式 */
input[type="checkbox"],input[type="radio"]{
    height: 16px;
    width: 16px;
}
/* 文本样式 */
h1{
    width:80%;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    border-left: 5px solid #409Eff;
}
h5{
    padding-bottom:5px; 
    text-align: left;
    font-size: 14px;
}
li{
    margin-left: 40px;
}
center p{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color:#2d7bc9;
}