.dateDiv{
    display: flex;
    flex-direction:row;/*主轴的方向 row | row-reverse | column | column-reverse*/
    flex-wrap:nowrap;/*换行 nowrap | wrap | wrap-reverse*/
    justify-content:flex-start;/*主轴上的对齐方式 flex-start | flex-end | center | space-between | space-around*/
    align-items:flex-start;/*交叉轴上的对齐方式 flex-start | flex-end | center | baseline | stretch*/
    /*align-content:  ;*/
    /*多根轴线的对齐方式 flex-start | flex-end | center | space-between | space-around | stretch*/
    
}
