li{
    list-style: none;
    float: left;
    width: 120px;
}
.box{
    position: relative;
    margin-top: 20px;
    margin-left:100px;
}
/* 第一行集体靠后15px */
.juzhong{
    text-indent: 15px;
}
/* 校区 */
.xiaoqu{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 44px
}
/* 表头 */
.ul1{
    width:1088px;
    background:rgba(242,243,244,1);
    box-shadow:0px 1px 0px 0px rgba(229,229,229,1);
    height: 44px;
    line-height: 44px;
}
/* 数据 */
.ul2{
    width:1088px;
    height:44px;
    line-height: 44px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 0px 0px rgba(229,229,229,1);
}
/* 鼠标经过特效 */
.ul2:hover{
    background-color:   #f4f8ff;
}
/* 删除按钮特效 */
.delete1{
    display: none
}
.ul2:hover .delete1{
    display: inline;
}
/* 删除按钮特效 end*/
/* 上一页按钮 */
.shangye{
    width:60px;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    color: #AAAAAA;
    line-height: 30px;
}
/* 下一页按钮 */
.xiaye{
    width:60px;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    color: #AAAAAA;
    line-height: 30px;
}
/* 第一页 */
.ye1{
    width:32px;
    height:30px;
    background:rgba(74,144,226,1);
    border:1px solid rgba(74,144,226,1);
    color:#4A90E2;
    line-height: 30px;
}
/* 第二页 */
.ye2{
    width:32px;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    color:#4A90E2;
    line-height: 30px;
}
/* 第三页 */
.ye3{
    width:32px;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    color:#4A90E2;
    line-height: 30px;
}
/* 页码省略 */
.yen{
    width:32px;
    height: 30px;
    line-height: 30px;
}
/* 页码居中 */
.ye{
    text-align: center;
    display: inline-block;
}
/* 翻页按钮属性 */
.huanye{
    position: relative;
    margin-left: 442px;
    margin-top: 21px;
}
/* 鼠标经过特效 */
.yea:hover{
    border:1px solid rgba(74,144,226,1);
}